.progress {
  background-color: var(--color-secondary);
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-value {
  background-color: var(--color-accent);
  height: 100%;
  width: 100%;
  animation: progressBar 10s linear forwards;
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* Estilo para corazones vacíos */
.heart-empty {
  filter: grayscale(100%);
  opacity: 0.5;
}