@import "tailwindcss";

@theme {
  --color-primary-500: #232748;        /* --space-cadet Dark pills, dark buttons*/
  --color-darkNeutral: #3b4172;    /* --delft-blue-2,  inputs */
  --color-accent-500: #d259a1;         /* --mulberry - accent buttons */
  --color-info: #3f9ffe;           /* --dodger-blue accent -card -bg - textlinks*/
  --color-white: #ede9f1;          /* -text*/
}
